{% extends 'base.html.twig' %}

{% block body %}
    <h1>Simple website</h1>

    <hr>

    <section>
        <h2>Register for newsletter</h2>

        {{ form_start(form) }}
            {{ form_widget(form) }}
            <input type="submit" value="Register" />
        {{ form_end(form) }}
    </section>

    <hr>

    {% for post in posts %}
        <article>
            <h3><a href="{{ path('post_show', { 'id': post.id }) }}">{{ post.title }}</a></h3>
            <p>Written by {{ post.author }}, on the {{ post.createdAt|date('d M Y \\a\\t H:i:s') }}</p>
            <div>
                <ul>
                    <li>
                        <a href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
                    </li>
                </ul>
            </div>
        </article>

        <hr>
    {% endfor %}

    <ul>
        <li>
            <a href="{{ path('post_new') }}">Create a new post</a>
        </li>
    </ul>
{% endblock %}
