{% extends 'base.html.twig' %}

{% block body %}
    <a href="{{ path('post_index') }}">◂ Back to the list</a>

    <h1>
        {{ post.title }}
        <a class="short" href="{{ path('post_edit', { 'id': post.id }) }}">edit</a>
    </h1>
    <p class="short">Written by {{ post.author }}, on the {{ post.createdAt|date('d M Y \\a\\t H:i:s') }}</p>

    <article>
        {{ post.contents|nl2br }}
    </article>

    <ul>
        <li>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
